.mass-edition{
    margin-bottom: 24px;
}

.mass-edition .ant-tag-checkable{
    border: 1px solid #d9d9d9;
    padding: 4px 15px;
    font-size: 14px;
    background-color: white;
}

.mass-edition .ant-tag-checkable:hover{
    background-color: #fafafa;
    color: inherit;
}


.mass-edition .ant-tag-checkable-checked{
    background-color: #e0e0e0;
    color: inherit;
}

.mass-edition .ant-tag-checkable-checked:hover{
    background-color: #c8c8c8;
}
