.DataSourceAttributesQuantities {
    padding: 10px;
}

.DataSourceAttributesQuantities .container {
    padding: 10px 20px;
    background: white;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
}

.DataSourceAttributesQuantities div:not(.container) {
    padding: 3px;
}

.DataSourceAttributesQuantities .block{
    width: 100%;
    display: block;
}

.DataSourceAttributesQuantities Button{
    background-color: #6D6D6D;
    color:white;
    border-radius: 2px;
    display:block;
}

.DataSourceAttributesQuantities .gris{
    color:rgba(0, 0, 0, 0.5);
}