.DataSourceApplication {
    padding: 10px;
}

.DataSourceApplication .container {
    padding: 10px 20px;
    background: white;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
}

.DataSourceApplication div:not(.container) {
    padding: 3px;
}

.DataSourceApplication .block{
    width: 100%;
    display: block;
}

.DataSourceApplication Button{
    background-color: #6D6D6D;
    color: white;
    border-radius: 2px;
    display: block;
    transition-duration: 0.4s;
}

.DataSourceApplication Button:hover {
  background-color: rgba(111, 111, 111, 0.9);
  color: white;
  border-color: rgba(111, 111, 111, 0.9);
}

.DataSourceApplication .anticon-mail {
  color: grey;
}