.SettingsTooltipsSection{
    background: white;
    border-radius: 2px;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
}

.SettingsTooltipsSection .ant-form-item{
    margin-bottom: 5px;
}

.SettingsTooltipsSection label{
    font-weight: bold;
}

.SettingsTooltipsSection Input:disabled{
    margin: 0;
    background: white;
    border: 0;
    color: rgba(0, 0, 0, 0.85);
}

.SettingsTooltipsSection TextArea:disabled{
    margin: 0;
    background: white;
    border: 0;
    color: rgba(0, 0, 0, 0.85);
}