.ApplicationResult {
    background: white;
    border-radius: 2px;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
}

.ApplicationResult h3 {
    font-size: 1.2em;
    display:inline-block;
}

.ApplicationResult .newTab {
    margin-left:20px;
}

.ApplicationResult .attributes {
    margin-top:15px;
}

.ApplicationResult .ant-tag {
    margin-bottom:5px;
}

.ApplicationResult .paragraph {
    margin-bottom:5px;
}

.ApplicationResult .paragraph span{
    color: rgba(0, 0, 0, 0.50);
}

.ApplicationResult .anticon-export {
  color: grey;
}
