.DataSourceResultContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.DataSourceResult {
    background: white;
    border-radius: 2px;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
}

.DataSourceResult h3 {
    font-size: 1.2em;
    display:inline-block;
}

.DataSourceResult .newTab {
    margin-left:20px;
}

.DataSourceResult .attributes {
    margin-top:15px;
}

.DataSourceResult .attributes-two {
    margin-top:5px;
}

.DataSourceResult .onHover {
    cursor: pointer;
}

.DataSourceResult .ant-tag {
    margin-bottom:5px;
}

.DataSourceResult .paragraph {
    margin-bottom: 5px;
    overflow-wrap: anywhere;
}

.DataSourceResult .paragraph .attribute-value {
    color: rgba(0, 0, 0, 0.50);
    margin-left: 5px;
}

.DataSourceResult .anticon-export {
  color: grey;
}

/*Highlight CSS*/
.SearchPage .content .home-highlights .DataSourceResult h3 {
    margin-bottom: 0.5em;
}

.DataSourceHighlightKpi{
}

.DataSourceHighlightKpi p{
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 0;
}


