.EnumerationItem {
    display: flex;
}

.EnumerationItem .content {
    flex: 1;
    width: 100%
}


.EnumerationItem .ant-btn-link {
    color: #ff4d4f;
}

.EnumerationItem a {
    color: rgba(0, 0, 0, 0.5);    
    font-style: italic;
    text-decoration: underline ;
}
