.App .layout {
    min-height: 100vh;
    background-color: #F9F8FC;
}

.App .container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .App .container {
        max-width: 1100px;
    }
}

@media (max-width: 1100px) {
    .App .container {
        max-width: 900px;
    }
}

.App .footer {
    text-align: center;
    background: #F9F8FC;
    color: rgba(0, 0, 0, 0.5);
}
